.container-fluid {
    background-color:rgba(203, 237, 250, 0.5) ;
}

#trade_name {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    color: rgb(33, 148, 219);
    text-shadow: 3px 3px 1px grey;
}

#error {
    background-color: rgb(226, 126, 141);
    color: rgb(195, 10, 10);
    border: 0px;
    text-align:center;
}

.myCard {
    border: 1px solid black;
    border-radius: 20px;
    background-color:rgba(203, 237, 250, 0.5) ;
    padding: 50px ;
    text-align: center;
}
